@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Rowdies:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background: none;
    border: none;
}

:root {
    --primary_text: #323;
    --secondary_text: #fff;
}

body {
    height: 100vh;
}

body * {
    font-family: 'Roboto';
}

/*--Navbar--*/

header {
    height: auto;
    width: 100%;
    padding: 1.7rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #08199b;
}

.navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav_logo {
    height: 5%;
    width: 10%;
}

.nav_item {
    display: inline-block;
    font-size: 1.1rem;
    color: var(--secondary_text);
    margin-left: 2rem;
    cursor: pointer;
    transition: .3s ease;
}

.nav_item:hover {
    color: #eee;
    translate: -0.5rem;
}

.nav_btn {
    display: flex;
    justify-content: space-between;
    width: 13%;
    margin-right: 4rem;
}

.nav_btn_login {
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.nav_btn_login:hover {
    box-shadow: 0 1px 0 0 #fff;
}

.nav_btn_signup {
    font-size: 1.1rem;
    color: #f7ef0c;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.nav_btn_signup:hover {
    box-shadow: 0 1px 0 0 #f7ef0c;
}

/*--Home--*/

.home {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    padding: 3.5rem;
}

.home_left {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.7rem;
}

.home h1 {
    width: 90%;
    font-size: 5rem;
    margin-left: 5rem;
    color: #08199b;
}

.text_field {
    width: 75%;
    margin-top: 0.3rem;
    text-align: justify;
}

.home_btn {
    background-color: #08199b;
    color: #fff;
    padding: 1.2rem 4rem;
    margin-top: 1rem;
    border-radius: 1.3rem;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.home_btn:hover {
    background-color: #000d70;
}

.home_right {
    height: 100vh;
    width: 50%;
}

.image_field {
    height: 70%;
    display: flex;
    justify-content: center;
    animation-duration: 10s ;
    animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-name: home_image;
    transition: .2s ease-in-out;
}

.image_field:hover {
    scale: 1.1;
    transform: translateY(-1rem);
}

@keyframes home_image {
    0% {
        transform: translateX(-1rem);
    }

    50% {
        transform: translateX(1rem);
    }

    100% {
        transform: translateX(-1rem);
    }
}
