#home {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.5rem;
}

.home_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home h1 {
    width: 90%;
    font-size: 5rem;
    margin-left: 5rem;
    color: #08199b;
}

.text_field_programming {
    width: 90%;
    margin-top: 0.5rem;
    text-align: justify;
    font-size: 1.18rem;
}

.home_btn {
    background-color: #08199b;
    color: var(--secondary_text);
    padding: 1.2rem 4rem;
    margin-top: 1.5rem; 
    border-radius: .25rem;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.home_btn:hover {
    background-color: #000d70;
}

.home_right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_field {
    height: 85%;
    display: flex;
    justify-content: center;
    animation-duration: 10s ;
    animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-name: home_image;
    transition: .2s ease-in-out;
}

.image_field:hover {
    scale: 1.1;
    transform: translateY(-1rem);
}

@keyframes home_image {
    0% {
        transform: translateX(-1rem);
    }

    50% {
        transform: translateX(1rem);
    }

    100% {
        transform: translateX(-1rem);
    }
}
