#programming {
    height: 100vh;
    width: 100%;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.programming_left {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_field_programming {
    height: 100%;
    display: flex;
    justify-content: center;
    animation-duration: 10s ;
    animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-name: home_image;
    transition: .2s ease-in-out;
}

.image_field_programming:hover {
    scale: 1.1;
    transform: translateY(-1rem);
}

.programming_right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.programming_right h1 {
    font-size: 3rem;
    color: #08199b;
}

.text_field {
    width: 75%;
    margin-top: 0.5rem;
    text-align: justify;
    font-size: 1.15rem;
}

.text_field_programming {
    width: 90%;
    margin-top: 0.5rem;
    text-align: justify;
    font-size: 1.18rem;
}

.programming_bottom .card {
    height: 17rem;
    width: 15rem;
    background-color: #08199be1;
    border-radius: .9rem;
    padding: 1rem;
}


